body {
  background-color: #EEEEEE;
}

.search-box{
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
  width: 500px;
  height: 30px;
  margin-left: auto;
  margin-right: 5%;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
}

.p-select-tag{
  margin: 0;
}

.select-tag {
  margin-top: 2.5px;
  margin-left: 1px;
  height: 25px;
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.p-search-form{
  margin: 0;
  width: 300px;
}

.search-form{
  margin-top: 2.5px;
  margin-left: 1px;
  height: 25px;
  width: 100%;
  border: 0;
  outline: none;
  padding: 0;
}

.btn-search{
  height: 30px;
}

.restaurant_all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5% ;
}

.restaurant{
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
  width: 20%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.restaurant_all:after {
  content: "";
  display: block;
  width: 20%;
  height: 0;
  margin-left: 5%;
  margin-bottom: 20px;
}

.restaurant_all:before {
  content: "";
  display: block;
  width: 20%;
  height: 0;
  margin-left: 5%;
  margin-bottom: 20px;
  order: 1;
}

.picture{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50%;
  width: 100%;
}

.restaurant_name{
  font-size: 17px;
  line-height: 1px;
  margin-left: 5%;
  margin-top: 10%;
}

.restaurant_tag{
  font-size: 10px;
  margin-left: 5%;
}

.links{
  display: flex;
  justify-content: space-between;
  margin-top: 10%;

}

.btn_detail{
  display: inline-block;
  color: white;
  background-color: #315DFF;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 10px;
  margin-left: 5%;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.btn-like{
  width: 30px;
  height: 30px;
  display: inline-block;
  padding-right: 20px;
  padding-left: 30px;
}

.detail-top{
  display: flex;
}

.detail-back{
  border: 1px solid;
  background-color: #EEEEEE;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 20px;
}

.detail-restaurant{
  font-size: 25px;
  margin-left: 10px;
}

.detail-picture{
  width: 100%;
}

.detail-page{
  display: flex;
  justify-content: space-between;
}

.detail-left{
  width: 50%;
  padding-left: 5%;
  padding-right: 2.5%;
}

.detail-right{
  width: 50%;
  padding-left: 2.5%;
  padding-right: 5%;
}

.reservation-form-box{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.btn-reservation{
  display: inline-block;
  width: 100%;
  font-size: 15px;
  padding: 15px;
  background-color: rgb(5,56,255);
  border: 1px solid rgb(5, 56, 255);
  cursor: pointer;
  color: #EEEEEE;
}

.reservation-box{
  background-color: #305DFF;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
}

.reservation-form{
  padding-left: 15px;
  padding-right: 15px;
}

.confirm-box{
  margin-left: 15px;
  margin-right: 15px;
  background-color: #4D7FFF;
}

.reservsation-confirm{
  padding-left: 15px;
  padding-right: 15px;
}

.reservation-number {
  margin: 0px;
  margin-left: 10px;
  color: #EEEEEE;
  font-size: 20px;
}

.timer{
  width: 30px;
  height: 30px;
}

.confirm-content{
  margin: 0px;
  color: #EEEEEE;
}

.content-confirm{
  width: 50px;
}

.yoyaku{
  color: #EEEEEE;
  font-weight: bold;
  font-size: 25px;
  padding-left: 15px;
  padding-top: 20px;
}

.reservation{
  margin-top: 20%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mypage-reservation-header{
  display: flex;
  justify-content: space-between;
}

.reservation-all{
  background-color: #305DFF;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
  margin-top: 10px;
  padding: 20px;
  padding-bottom: 0;
}

.reservation-header{
  margin: 0;
  display: flex;
  justify-content: start;
}

.btn-delete{
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

.mypage {
  display: flex;
  justify-content: space-between;
}

.mypage-left {
  width: 35%;
  padding-left: 5%;
  padding-right: 2.5%;
}

.btn-change{
  display: inline-block;
  width: 100%;
  cursor: pointer;
  color: #EEEEEE;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.mypage-change{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #4D7FFF;
  border: none;
  padding: 10px;
  margin: 0 -20px;
}

.mypage-right {
  width: 65%;
  padding-left: 2.5%;
}

.mypage-name{
  font-size: 30px;
  font-weight: bold;
}

.mypage-subtitle{
  font-size: 25px;
  font-weight: bold;
}

.mypage-like-all{
  display: flex;
  flex-wrap: wrap;
}

.mypage-likes{
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.tanks-box{
  background-color: white;
  width: 500px;
  height: 250px;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 black;
}

.thanks-word{
  font-size: 25px;
  text-align: center;
  padding-top: 70px;
}

.btn-back-thanks{
  border: #305DFF;
  border-radius: 8px;
  background-color: #305DFF;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

.btn-back-paragraph{
  text-align: center;
  margin-top: 50px;
}

.menu-box{
  margin-top: 200px;
  text-align: center;
}

.menu-link{
  margin: 0 auto;
  font-size: 30px;
  color: #305DFF;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-close{
  background-color: #305DFF;
  text-align: center;
  color: white;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
  position: rerative;
  width: 50px;
  height: 40px;
  margin-left: 50px;
  margin-top: 30px;
  padding-bottom: 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 0 black;
}

.btn-rese{
  text-align: center;
  color: #305DFF;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
  position: rerative;
  width: 50px;
  height: 40px;
  margin-left: 50px;
  margin-top: 30px;
}

.word-rese{
  font-size: 30px;
  color: #305DFF;
}

.page-breeze{
  width: 400px;
  margin: 100px auto;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 0 black;
  background-color: white;
}

.header-breeze{
  background-color: #305DFF;
  color: white;
  font-size: 20px;
  margin: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.breeze-form{
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.btn-breeze {
  text-align: right;
}

.ml-3{
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #305DFF;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  text-decoration: none;
  cursor: pointer;
}

.breeze-icon{
  height: 30px;
  margin-top: 10px;
  
}

.breeze-form-box{
  border: none;
  outline: none;
  border-bottom: 2px solid #999;
  padding: 5px 10px;
  width: 80%;
}

